extends layout

block content

  div.container.starter-template
    h1 Technical Notes

    div.content
    table.table-striped.table-bordered
      th Article
      each file in files 
        tr
          td 
            a(href=file.path) #{file.title}